<div class="container message">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<h3>
						{{ message.user.username }}：智障度<strong>{{ message.user.Intellectual_disability }}</strong>
					</h3>
				</div>
				<div class="col-md-6 column">
					<p>
						{{ message.timestamp }}
					</p>
				</div>
			</div>
            <h5>
				<span class='title'>标题</span>：{{ message.title }}
			</h5>
			<p>
				<span class='body'>内容</span>：{{ message.body }}
			</p>
		</div>
	</div>
</div>
